*{
    background-color: rgba(240,239,231,255);
    font-family: Georgia, 'Times New Roman', Times, serif;
}
.p1img {
    max-width: 500px;
    background-image: url('../img/backgrill.PNG');
}
.col-3{
    background-image: url('../img/backgrill.PNG');
}
.p1p{
    background-image: url('../img/backgrill.PNG');
}
.logogit{
    max-width: 100px;
}
.col-2{
    background-color: rgba(240,239,231,255);
}
.docu{
    max-width: 80px;
}
.about{
    max-width: 80px;
    margin-left: 50%;
}
.subtitle{
    font-size: 22px;
    font-weight: bold;
    color: #ff4500;
}
.pabout{
    margin-left: 50%;
}
.contenair{
    
    margin-left: 15%;
    margin-right: 15%;
    margin-top: 5%;
    margin-bottom: 10%;
    text-align: start;
}
.bloc1 h3{
    color:black;
    
    height: 55px;
    font-weight: bold;
}

.bloc1 h4{
    font-size: x-large;
    color: #ee4d34;
    height: 40px;
}
.img{
    align-content: center;
    margin-top: 6%;
    margin-left: 20%;
    margin-bottom: 6%;
}
.bloc2
{
 text-align: ;
}