*{
    background-color: rgba(240,239,231,255);
    font-family: Georgia, 'Times New Roman', Times, serif;
}
.exo{
color: orangered;
font-size: 30px;
font-weight: bold;
}
.p1img {
    max-width: 500px;
    background-image: url('../img/backgrill.PNG');
}
.col-3{
    background-image: url('../img/backgrill.PNG');
}
.link{
    color: orangered;
    text-decoration: none;
    font-weight: bold;
}
.p1p{
    font-size: 18px;
    color: rgb(20, 22, 22);
    background-image: url('../img/backgrill.PNG');
    margin-top: 25px;
    
}
.logogit{
    max-width: 100px;
}
.col-2{
    background-color: rgba(240,239,231,255);

}
.docu{
    max-width: 80px;
    margin-top: 50px;
    margin-bottom: 15px;
}
.about{
    max-width: 80px;
    margin-left: 50%;
    margin-top: 50px;
    margin-bottom: 15px;
}
.subtitle{
    font-size: 22px;
    font-weight: bold;
    color: orangered;
}
.pabout{
    margin-left: 50%;
    margin-bottom: 50px;
}
.pdoc{
    margin-bottom: 50px;
}
.subtitle1{
    font-size: 22px;
    font-weight: bold;
    color: orangered;
    margin-left: 50%;
}
/*  ZONE FOOTER   */
.footer {
    width: 100%;
    height: 30vh;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin: 30px auto;
    background-color: rgba(240,239,231,255);
}
.logofooter {
    max-width: 100px;
    margin-left: 15%;
}
.footer-titre {
    display: flex;
    flex-direction: column;
    margin-right: 4rem;
  }
.footer-titre a {
    text-decoration: none;
    margin-bottom: 0.5rem;
    color: black;
    font-size: 19px;
  }
  .footerh3 {
    text-align: center;
  }